# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
TestResults/
*.ncrunch*
*.localhistory/
*.DS_Store
*.vscode/
*.log
*.db
*.sqlite
*.pdb
*.mdb
*.opendb
*.pidb
*.svclog
*.sdf
*.cache
*.bak
*.swp
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
_ReSharper*/
*.resharper
*.DotSettings.user
.idea/
*.sln.ide
# Qdrant data volume
src/AppHost/qdrant_data/
src/AppHost/qdrant_data/*
src/AppHost/neo4j_data/
src/AppHost/neo4j_data/*
